@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 在你的全局CSS文件中 */
.overflow-hidden::-webkit-scrollbar {
  display: none;
}
iframe {
  will-change: transform;
}